section {
    background-image: linear-gradient(to bottom, rgba(27, 27, 27, 0.4), rgba(27, 27, 27, 0.5)), url(/bgimg/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 74px 55px 74px;
    min-height: 40.5rem;
    position: relative;
}
.title {
    display: inline-block;
    padding: 36px 0 26px 0;
    font-size: 3rem;
    color: rgb(255, 149, 5);
}
.title::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(255, 149, 5);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
.title:hover::before {
    width: 100%;
}
.paragraphs {
    color: rgb(255, 251, 251);
    font-size: 1.3rem;
}
.textFocusIn {
    animation: text-focus-in 0.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.textBlurOut {
    animation: text-blur-out 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-blur-out {
  0% {
    filter: blur(0.01);
  }
  100% {
    filter: blur(12px) opacity(0%);
  }
}
@media (max-width: 1200px) {
    section {
        padding: 20px 50px 55px 50px;
    }
}
@media (max-width: 768px) {
    section {
        padding: 20px 30px 55px 30px;
    }
    .title {
        font-size: 2.5rem;
    }
    .paragraphs {
        font-size: 1.4rem;
    }
}
@media (max-width: 576px) {
    section {
        padding: 20px 15px 55px 15px;
    }
    .title {
        font-size: 2rem;
    }
    .paragraphs {
        font-size: 1rem;
    }
}
